{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" >
</head>
<body style=background-image:url('https://wallpapercave.com/wp/wp2581365.jpg');>
   
{% block content %}


{% endblock %}
</body>
</html>